*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color:black;
    
}

main{
    height : 100%;
    width : 100%;
    background-color: black;
    display : flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    padding : 15px 30px;
    background: crimson;
    font-weight: 600;
    border:  none;
    cursor : pointer;
    color : white; 
    border-radius: 5px;



}

button:active{
    scale : 0.95;
}